.nav-right{
  display: flex;
  width: 5%;
  margin-right: 20px;
  justify-content: space-around;
}
.sidebar-ui{
  font-size: 0.51em;
  // display: none;
  position: fixed;
  top: 50%;
  right: 0;
  width: 30vw;
  height: 100%;
  transform: translateY(-50%);  
  /* Đưa menu lên giữa theo chiều dọc */
  background-color: #EBEFFF;
  
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;

}
#report-details-popup, #menu_popup, #popup  {
  display: none;
}
.menu_options_box {
  margin-top: 15%;
}
.menu_options_box {
  text-align: center;
  font-size: 0.51em;
  width: 100%;
  height: 80%;
  background-color: #EBEFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}