body{
  background-color: #EBEFFF;

  }
  .navbar{
    display: flex;
  }
.container-nav{
  width: 100vw;
}
.side-opener{
  justify-items: end;
  margin-top: 5px;
  margin-right: 5%;
}
main{
  display: flex;
  height: 100vh;

  justify-content: center;
  align-items: center;
}
.main-content-box{
  
  width: 1182px;
  height: 551px;
  background-color:   #fdfdfd;
  border: solid 2px #848BDC;
  border-radius: 30px;
  margin:5% 10% 0 10%;
  box-shadow: 1px 1px 4px 1px gray;

}
.navbar2{
  padding: 15px 0;
  border-radius:28px 28px 0 0;
  background-color: #EFF0F4;
  box-shadow: 0 1px 5px -2px grey;


}
.dropdown-address{
  margin-left: 5%;
  color: #8F9092;

}
.dropdown-address:link{
  text-decoration: none;
}

.search-bar{
  border-radius: 20px 0 0 20px;

}
.search-bar:focus{
  outline: solid #8F9092;
  box-shadow: none;

}
.search-btn{
  border-radius: 0 20px 20px 0;

}
.ads-spot-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 5%;
  height: 80%;
  width: 95%;
  justify-content: space-around;
  align-items: center;

}
.ad-container{
  width: 218px;
  height: 140px;
  background-color: white;
  border: solid 2px #848BDC;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px grey;
}
.ad-container .title{
  margin: 0;
  background-color: #D1D4F2;
  border-radius: 8px 8px 0 0;
  font-size: 20px;
  font-weight: 900;
  font-family: 'Inter', sans-serif;
  color:  #4F56AD;
  -webkit-text-fill-color: #7B82D9;
  -webkit-text-stroke: 1px;
  padding-left: 4%;
}
.ad-container .ad-info{
  font-size: 10px;
  margin-left: 4%;
}