.status{
  font-size: 11px;
  font-weight: 500;
  align-items: center;
}
.vertical-al-center{
  vertical-align: middle;
}
#report-details-popup, #status-edit{
  display: none;
}
.table-container{
  height: 80%;
  overflow: auto;
}
.info-container{
  display: flex; 
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  

}
.sidebar-ui{
  font-size: 0.51em;
  display: none;
  position: fixed;
  top: 50%;
  right: 0;
  width: 30vw;
  height: 100%;
  transform: translateY(-50%);  
  /* Đưa menu lên giữa theo chiều dọc */
  background-color: #EBEFFF;
  
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;

}
.list-item{
  font-size: 16px;
  margin-top: 10%;
  margin-right: 40px;
}
.list-title{
  width: 70%;
  height: 80%;
  border: solid 2px #848BDC;
  box-shadow: 1px 1px 4px 1px gray;
  border-radius: 30px;
  list-style-type: none;
  background-color: #fdfdfd;
  overflow-y: auto;

}
.report-update-container{
  width: 100%;
  height: 90%;
  padding-top: 20%;
}
.details-report-update{
  padding-top: 5%;
  background-color: #fdfdfd;
  width: 70%;
  height: 80%;
  margin: 0 auto;

  border: solid 2px #848BDC;
  box-shadow: 1px 1px 4px 1px gray;
  border-radius: 30px;
  text-align: center;

}
#report-update-info{
  height: 80%;
  width: 80%; 
  font-size: 14px;
}
.info-container ::-webkit-scrollbar{
  width: 10px;
}
/* Handle */
.info-container ::-webkit-scrollbar-track{
  margin: 20px 0;
}
.info-container ::-webkit-scrollbar-thumb {
  background-color: #b6b9de;
  border-radius: 20px;
}
.text-content{
  margin: 0;
  text-align: end;
  word-wrap: break-word
}
.text-title{
  margin: 0;  
  border-bottom: solid 1px gainsboro; 
}
.cancel-button{
  align-self: stretch;
  width: 100%;
}
.btn-container{
  padding-top: 10%;
}