body {
    background-color: #EBEFFF;
}

.navbar-size {
    padding-top: 0%;
    padding-bottom: 0%;
    height: 51px;
    background-color: #afb3ff;
    width: 92.875rem;
    z-index: 1;
    position: fixed;
}

.container-nav {
    padding-left: 2rem;

}

.nav-link {
    font-weight: 6000;
    font-size: 1em;
}

.container-request {
    position: absolute;
    width: 85%;
    height: 85%;
    top: 11%;
    left: 7.5%;
    background-color: white;
    border: #848bdc 1px solid;
    border-radius: 25px;
    box-shadow: 5px 5px 5px lightgray;
}