/* body */
body {
    background-color: #EBEFFF;
}

/* form input */
.container-request {
    position: absolute;
    width: 85%;
    height: 85%;
    top: 11%;
    left: 7.5%;
    background-color: white;
    border: #848bdc 1px solid;
    border-radius: 25px;
    box-shadow: 5px 5px 5px lightgray;
}

.label {
    width: 30%;
    font-size: 14px;
    margin-bottom: 4px;
}

.form-control {
    padding: 6px;
    font-size: 12px;
    border-radius: 30px;
    border: 1px solid black;
}

.label,
.form-control,
.file-input {
    display: inline-block;
}

.label {
    margin: 20px 0px 16px 60px;
}

.label-1 {
    margin-top: 35px;
}

.form-control {
    width: 55%;
}

#adsContent_textfield,
#Email,
#phone {
    width: 35%;
}

#startDate,
#endDate {
    width: 20%;
    text-align: center;
}

#imagePath {
    font-size: 12px;
    color: blue;
    text-decoration: none;
    transition: text-decoration 0.3s;
}

#imagePath:hover {
    text-decoration: underline;
}

input[type="submit"] {
    background-color: #ff7777;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 7px 14px;
    border: 2px solid #ff7777;
    border-radius: 20px;
    float: right;
    margin: 1em 5em;
    outline: none;
    font-size: 14px;
}

input[type="submit"]:hover {
    background-color: #ff9999;
    border-color: #ff9999;
}

input[type="submit"]:active {
    transform: translateY(2px);
}

.file-input button {
    font-size: 15px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
    border: 1px solid;
}

.file-input button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.fa-bars {
    margin-left: 1em;
    margin-right: 3em;
  }
  .left-icon{
    position: relative;
    left: 75%;
  }
  .menu_button {
    width: 20em;
  }
  /*Style cho menu popup */
  #menu_popup {
    font-size: 0.51em;
    display: none;
    position: fixed;
    top: 50%;
    right: 5%;
    width: 40vw;
    height: 100%;
    transform: translateY(-50%); /* Đưa menu lên giữa theo chiều dọc */
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  /* Style cho overlay */
  #menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .menu_options_box {
    text-align: center;
    font-size: 0.51em;
    width: 100%;
    height: 80%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10em;
  }
  
  .menu_button {
    background-color: #878DFF;
    width: 80%; /* Adjusted button width */
    height: 5em; /* Adjusted button height */
    color: white;
    font-size:medium;
    margin-bottom: 10px; 
    border-radius: 20px;
    width: 20em;
  }