<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-size">
  <div class="container-fluid navbar-color navbar-size container-nav">
    <i class="fa-solid fa-house" style="color: #ffffff;"></i>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-size" style="color: #ffffff;" aria-current="page" href="/home-guest">Home</a>
        </li>
      </ul>
      <a class="angle-left" href="/home-guest"><i class="fa-solid fa-angle-left fa-xl" style="color: #ffffff;"></i></a>
    </div>
  </div>
</nav>