
    <!--Menu popup bar-->
    <div id="menu_overlay" onclick="closeMenu()"></div>
    <div id="menu_popup" class="sidebar-ui">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid navbar-color navbar-menu">
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav"></ul>
            </div>
            <a type="button" class="side-opener" onclick="openSidebar()" style="margin-top: 10%;">
              <i class="fa-solid fa-x fa-2xl" style="color:#ffffff"></i>  
            </a>
          </div>

      </nav>
      <!-- Menu buttons in the middle -->
      <div class="menu_options_box">
        <button class="menu_button" onclick="window.location.href='/admin/ads-manage'">
          <span class="menu_button_text">Quản lý quảng cáo</span>
        </button>
        <button class="menu_button" onclick="window.location.href='/admin/request-list'">
          <span class="menu_button_text">Các yêu cầu cấp phép quảng cáo</span>
        </button>

        <button class="menu_button" onclick="window.location.href='/admin/request-list'">
          <span class="menu_button_text">Các yêu cầu chỉnh sửa</span>
        </button>
        <button class="menu_button" onclick="window.location.href='/admin/list'">
          <span class="menu_button_text">Loại hình và hình thức báo cáo</span>
        </button>
        <button class="menu_button" onclick="window.location.href='/admin/reports-list'">
          <span class="menu_button_text">Các báo cáo và cách thức xử lý </span>
        </button>
        <button class="menu_button" onclick="window.location.href='/register'">
          <span class="menu_button_text">Tạo tài khoản</span>
        </button>
      </div>
      
      <!-- Logout button at the bottom -->
      <div style="text-align: center; margin-top: 20px;">
        <a href="/"><button class="btn btn-danger btn-sm">Đăng xuất</button></a>
      </div>
    </div>

<script>
  function openSidebar(){
    const sidebarStatus = document.getElementById("menu_popup").style.display;
    if(sidebarStatus === "block"){
      document.getElementById("menu_popup").style.display = "none";
    }
    else{
      document.getElementById("menu_popup").style.display = "block";
    }
  }

</script>