
    <!--Menu popup bar-->

    <div id="menu_popup" class="sidebar-ui">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid navbar-color navbar-menu">
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav"></ul>
            </div>
            <a type="button" class="side-opener" onclick="openSidebar()" style="margin-top: 10%;">
              <i class="fa-solid fa-x fa-2xl" style="color:#ffffff"></i>  
            </a>
          </div>
      </nav>
      <!-- Menu buttons in the middle -->
      <div class="menu_options_box" style="background-color: #EBEFFF;" >
        <button class="menu_button" onclick="window.location.href='/report'"><span class="menu_button_text">Danh sách điểm quảng cáo</span></button>
        <button class="menu_button" onclick="window.location.href='/report'"><span class="menu_button_text">Gửi yêu cầu chỉnh sửa thông tin</span></button>
        <button class="menu_button" onclick="window.location.href='/home-district/request-lisencing'"><span class="menu_button_text">Các yêu cầu cấp phép quảng cáo</span></button>
        <button class="menu_button" onclick="window.location.href='/home-district/reports-list'"><span class="menu_button_text">Các báo cáo và cách thức xử lý </span></button>
        <button class="menu_button" onclick="window.location.href='/home-district/list-request'"><span class="menu_button_text">Danh sách các cấp phép</span> </button>
      
        
        <!-- Logout button at the bottom -->
        <div style="text-align: center; margin-top: 20px;">
          <a href="/logout"><button class="btn btn-danger btn-sm">Đăng xuất</button></a>
        </div>
      </div>
    </div>
<script>
  function openSidebar(){
    const sidebarStatus = document.getElementById("menu_popup").style.display;
    if(sidebarStatus === "block"){
      document.getElementById("menu_popup").style.display = "none";
    }
    else{
      document.getElementById("menu_popup").style.display = "block";
    }
  }

</script>