{{> header-home-dp}}
<main class="ads-approval">
      <div class="ads-table-container">
        <nav class="navbar navbar-expand-sm navbar-light navbar2 justify-content-spacebetween">
          <div class="header">
            <h2 style="font-size: 2em; ">YÊU CẦU CẤP PHÉP QUẢNG CÁO </h2>
          </div>

          <!-- ComboList lựa chọn khu vực-->
          <div class="comboList-container">
            <div class="comboList">
              <label for="district">Quận:</label>
              <select id="district">
                <option value="district1">Quận 1</option>
                <option value="district2">Quận 2</option>
                <!-- Add more options as needed -->
              </select>
            </div>
            <div class="comboList">
              <label for="ward">Phường:</label>
              <select id="ward">
                <option value="ward1">Phường 1</option>
                <option value="ward2">Phường 2</option>
                <!-- Add more options as needed -->
              </select>
            </div>
          </div>

          <div class="table-container">
            <table style="background-color: #BABEFE;">
              <thead>
                <tr>
                  <th style="width: 5em; border: solid 1px black;">STT</th>
                  <th style="width: 10em; border: solid 1px black;">Ngày gửi</th>
                  <th style="width: 15em; border: solid 1px black;">Người gửi</th>
                  <th style="width: 50em; border: solid 1px black;">Nội dung yêu cầu</th>
                  <th class="icon_detail"></th>
                </tr>
              </thead>
              <!-- Table data -->
              <tbody>
                <tr>
                  <td class="table-items">1</td>
                  <td class="table-items">26/10/2023 </td>
                  <td class="table-items">Cao Hải D </td>
                  <td class="table-items">Xin phép đặt thêm địa điểm quảng cáo tại khu A, phố BB</td>
                  <td class="icon_detail">
                    <a href="#" onclick="openDetail()">
                      <i class="fa-solid fa-info-circle"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="table-items">2</td>
                  <td class="table-items">06/11/2023 </td>
                  <td class="table-items">Nguyễn Gia Bảo</td>
                  <td class="table-items">Xin phép thu hồi và sửa chữa các biển quảng cáo tại khu ĐĐ</td>
                  <td class="icon_detail">
                    <a href="#" onclick="openDetail()">
                      <i class="fa-solid fa-info-circle"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="table-items">3</td>
                  <td class="table-items">18/11/2023 </td>
                  <td class="table-items">Ngô Minh FF</td>
                  <td class="table-items">Xin phép đặt thêm điểm quảng cáo tại khu phức hợp tổ  phường  D</td>
                  <td class="icon_detail">
                    <a href="#" onclick="openDetail()">
                      <i class="fa-solid fa-info-circle"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </nav>
        
      </div>

      <!--Ad detail-->
      <div id="approval-detail_overlay" onclick="closeDetail()"></div>
      <div id="approval-detail_popup">
        <div class="details">
          <p>
            <span class="detail_label">
              Bảng quảng cáo:
            </span>
            <span class="detail_text">
              Trụ, cụm pano
            </span>
          </p>
          <p>
            <span class="detail_label">
              Điểm đặt tương ứng:
            </span>
            <span class="detail_text">
              Đồng Khởi - Nguyễn Du (Sở văn hóa và thể thao), Phường Bến Nghé, Quận 1
            </span>
          </p>
          <p>
            <span class="detail_label">
              Nội dung quảng cáo:
            </span>
            <span class="detail_text">
              Cổ động chính trị
            </span>
          </p>
          <p>
            <span class="detail_label">
              Thông tin người thuê:
            </span>
            <span class="detail_text">
              Công ty A
            </span>
          </p>
          <p>
            <span class="detail_label">
              Email:
            </span>
            <span class="detail_text">
              congtyAne@gmail.com
            </span>
          </p>
          <p>
            <span class="detail_label">
              Số điện thoại:
            </span>
            <span class="detail_text">
              09999990
            </span>
          </p>
          <p>
            <span class="detail_label">
              Địa chỉ:
            </span>
            <span class="detail_text">
              720A Đ. Điện Biên Phủ, Vinhomes Tân Cảng, Bình Thạnh, Thành phố Hồ Chí Minh
            </span>
          </p>
          <p>
            <span class="detail_label">
              Người phụ trách:
            </span>
            <span class="detail_text">
              Nguyễn Văn A
            </span>
          </p>
        </div>
        <!-- Remove button at the bottom -->
        <div class="remove_button">
          <button class="btn btn-sm" style="background-color: #00FF1A; color: white;">Chấp thuận</button>
          <button class="btn btn-danger btn-sm">Yêu cầu gỡ bỏ</button>
        </div>
      </div>
      
    </main>

{{> sidebar-home-dp}}

<script>
    /* Mở popup detail qc */
    function openDetail() {
      document.getElementById('approval-detail_overlay').style.display = 'block';
      document.getElementById('approval-detail_popup').style.display = 'block';
      document.getElementById('approval-detail-image_popup').style.display = 'block';
    }

    function closeDetail() {
      document.getElementById('approval-detail_overlay').style.display = 'none';
      document.getElementById('approval-detail_popup').style.display = 'none';
      document.getElementById('approval-detail-image_popup').style.display = 'none';
    }
</script>