<style>
  h1{
    text-align: center;
    z-index: 99999999;
    bottom: 40%;
    padding-top: 20em;
    color: aliceblue;
  }
  p{
    text-align: center;
    z-index: 99999999;
    bottom: 40%;
        color: aliceblue;

  }
  .loader {
    background: #000;
    background: radial-gradient(#222, #000);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: 
		spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
	;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
</style>

{{!-- //<p><a href="/home-guest">Back to Home</a></p> --}}
  
<div class="loader">
  
	<div class="loader-inner">
 
		<div class="loader-line-wrap">
			<div class="loader-line"></div>
		</div>
		<div class="loader-line-wrap">
			<div class="loader-line"></div>
		</div>
		<div class="loader-line-wrap">
			<div class="loader-line"></div>
		</div>
		<div class="loader-line-wrap">
			<div class="loader-line"></div>
		</div>
		<div class="loader-line-wrap">
			<div class="loader-line"></div>
		</div>
	</div>
   <h1>Báo cáo đã được chuyển đi!</h1>
  <p>Cảm ơn vì đóng góp</p>
</div>





<script>
// Lấy dữ liệu điểm từ cookies (nếu có)
let coordinates1=[];
coordinates1 = [{{{coordinatesxy}}}]  ;
const dataToStore =[
  coordinates1[0],
  coordinates1[1],
];

// Lấy mảng từ localStorage (nếu không tồn tại, sẽ trả về mảng trống)
let myArray = JSON.parse(localStorage.getItem('userPoints')) || [];

// Thêm giá trị mới vào mảng
myArray.push(dataToStore);

// Lưu mảng lại vào localStorage
localStorage.setItem('userPoints', JSON.stringify(myArray));
const value = localStorage.getItem('userPoints');
console.log(value);
 // Tự động chuyển hướng sau 2 giây
  setTimeout(function() {
    window.location.href = "/home-guest";
  }, 4000);
</script>