 {{> header-home-dp}}
 <main class="district-list">
  <div class="ads-table-container">
    <nav class="navbar navbar-expand-sm navbar-light navbar2 justify-content-spacebetween">
      <div class="header">
        <h2 style="font-size: 2em;">Danh sách quận phường</h2>
      </div>
      <div class="table-container">
        <table style="background-color: #BABEFE;">
          <thead>
            <tr class="list-table">
              <th style="width: 10em;   border: solid 1px black;">Mã khu vực</th>
              <th style="width: 20em;  border: solid 1px black;">Tên khu vực</th>
              <th style="width: 20em;  border: solid 1px black;">Loại khu vực</th>
              <th style="width: 20em;  border: solid 1px black;">Người quản lý khu vực</th>
              <th class="icon_detail"></th>
            </tr>
          </thead>
          <!-- Table data -->
          <tbody>
            <tr>
              <td class="table-items">P-12</td>
              <td class="table-items">xã Vĩnh Lộc A</td>
              <td class="table-items">Phường</td>
              <td class="table-items">Nguyễn Văn A</td>
              <td class="icon_detail"><i class="fa-solid fa-info-circle"></i></td>
            </tr>
            <tr>
              <td class="table-items">P-13</td>
              <td class="table-items">phường Tân Tạo</td>
              <td class="table-items">Phường</td>
              <td class="table-items">Nguyễn Lê</td>
              <td class="icon_detail"><i class="fa-solid fa-info-circle"></i></td>
            </tr>
            <tr>
              <td class="table-items">P-14</td>
              <td class="table-items">phường 12</td>
              <td class="table-items">Phường</td>
              <td class="table-items">Lương Thế C</td>
              <td class="icon_detail"><i class="fa-solid fa-info-circle"></i></td>
            </tr>
            <tr>
              <td class="table-items">Q-01</td>
              <td class="table-items">quận 1</td>
              <td class="table-items">Quận</td>
              <td class="table-items">Cao Hải D</td>
              <td class="icon_detail"><i class="fa-solid fa-info-circle"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </nav>
  </div>
</main>

{{> sidebar-home-dp}}