{{> header-home-d}}


<div >
    <img src="{{imageUrl}}" alt="Advertisement Image">
    <p>Tên: {{name}}</p>
    <p>Loại: {{type}}</p> 
    <p>Ngày hết hạn: {{date}}</p>   
</div>
{{> sidebar-home-d}}
