{{> header-home}}

<style>
    
.ad-infor{
  background: #9799e7;
  background: linear-gradient(201deg,#9799e7 20%, #c7a8e2 50%); 
  font-weight: 500;
  box-shadow: -1px 4px 6px -1px rgba(0,0,0,0.6);
}
.ad-infor-container{
  color: white;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
.ad-image{
  max-width: 60%;
  max-height: 100dvh; 
  border: 4px solid #848BDC;
}
.ad-text-container{
  margin-top: 2%;
  margin-left: 2%;

}
</style>


<div class="ad-infor-container">
    <h3 style="color: #4F56AD; text-align: center;">Thông tin quảng cáo</h3>
    <div class="ad-infor d-flex">
        <img class="ad-image"  src="{{imageUrl}}" alt="">
        <div class="ad-text-container">
            <p class="ad-name">Tên: {{name}}</p>
            <p class="ad-type">Loại: {{type}}</p> 
            <p class="ad-expdate">Ngày hết hạn: {{date}}</p>   
        </div>
    </div>
</div>