{{> header-home-dp}}
<main class="landing-body">

<!-- register.html -->
<div class="screen">
  <form action="/register" method="POST">
  <div class="mb-3">
        <label for="Username" class="label">Username:</label>
        <input type="text" class="form-control" id="Username_textfield" name="username" required>
      </div>

   <div class="mb-3">
        <label for="email" class="label">Email:</label>
        <input type="email" class="form-control" id="Username_textfield" name="email" required>
      </div>
 <div class="mb-3">
        <label for="password" class="label">password:</label>
        <input type="password" class="form-control" id="Username_textfield" name="password" required>
      </div>
<div class="mb-3">
        <label for="phone" class="label">phone:</label>
        <input type="text" class="form-control" id="Username_textfield" name="phone" required>
      </div>

 <label for="ward">Phường:</label>
  <input type="text" id="ward" name="ward" required>
   <label for="district">Quận</label>
  <input type="text" id="district" name="district" required>
      <button class="btn-nor" type="submit">Tạo tài khoản</button>
</form>

</div>



</main>

{{> sidebar-home-dp}}
