{{> header-home-d}}
<main>
  <section class="left-section">
      <form>
          <div class="col-8 d-block d-block">
              <label for="inputName" class="col-0 col-form-label input-title">Họ và Tên</label>                        
              <input type="text" class="form-control input-place" name="inputName" id="inputName" placeholder="Họ và tên">
          </div>
          <div class="col-8 d-block">
              <label for="inputEmail" class="col-0 col-form-label input-title">Email</label>
              <input type="text" class="form-control input-place" name="inputEmail" id="inputEmail" placeholder="Email">
          </div>
          <div class="col-8 d-block">
              <label for="inputNumber" class="col-0 col-form-label input-title">Số điện thoại</label>
              <input type="text" class="form-control input-place" name="inputNumber" id="inputNumber" placeholder="0907XXXXXX">
          </div>
          <div class="col-8 d-block">
              <label for="inputReportType" class="col-0 col-form-label input-title">Hình thức báo cáo</label>
              <input type="text" class="form-control input-place" name="inputReportType" id="inputReportType" placeholder="Hình thức báo cáo">
          </div>
          <div class="col-8 d-block">
              <label for="inputReportInfomation" class="col-0 col-form-label input-title">Nội dung</label>
              <textarea class="form-control input-place" id="textAreaExample" rows="8"></textarea>
          </div>
      
      </form>
  </section>
  <section class="right-section">
      <div class="report-info">
          <div class="card text-center">
              <h3 class="card-title">BÁO CÁO VI PHẠM</h3>
              <div class="card-text-container shadow-lg">
                  <h4 class="card-text-title">
                      Trụ cụm pano
                  </h4>
                  <p class="card-text-1">
                      Đồng Khởi - Nguyễn Du (Sở văn hóa và thể thao), Phường Bến Nghé, Quận 1
                  </p>
                  <hr>
                  <p class="card-text-2">
                      Kích thước: 2.5m x 10m <br>
                      Số lượng: 1 trụ/bảng <br>
                      Hình thức: Cổ đông chính trị <br>
                      Phân loại: Đất công/Công viên/Hành lang an toàn giao thông <br>
                  </p>
              </div>
              <div class="d-flex card-items justify-content-between">
                  <a href="#" class="left-item text-decoration-none">
                      <i class="fa-regular fa-square-plus"></i>
                      <span class="add-image-text">Thêm ảnh</span>
                  </a>
                  <div class="right-item">
                      <button data-modal-open id="open-button" type="button" class="btn btn-primary open-button">
                        Báo cáo
                      </button>
                      
                  </div>
              </div>
          </div>
      </div>
      <div class="sn-icon text-end">
          <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-xl"></i></a>
          <a href="https://www.whatsapp.com"><i class="fa-brands fa-whatsapp fa-xl"></i></a>
          <a href="https://www.web.telegram.org"></a><i class="fa-brands fa-telegram fa-xl"></i></i>
      </div>
  </section>
</main>

{{> sidebar-home-d}}