 {{> header-home-dp}}
<main class="report-n-solve">
      <div class="ads-spot-container">
        <nav class="navbar navbar-expand-sm navbar-light navbar2 justify-content-spacebetween">
          <div class="header">
            <h2 style="font-size: 2em; ">BÁO CÁO VÀ CÁCH THỨC XỬ LÝ  </h2>
          </div>

          <!-- ComboList lựa chọn khu vực-->
          <div class="comboList-container">
            <div class="comboList">
              <label for="district">Quận:</label>
              <select id="district">
                <option value="district1">Quận 1</option>
                <option value="district2">Quận 2</option>
                <!-- Add more options as needed -->
              </select>
            </div>
            <div class="comboList">
              <label for="ward">Phường:</label>
              <select id="ward">
                <option value="ward1">Phường 1</option>
                <option value="ward2">Phường 2</option>
                <!-- Add more options as needed -->
              </select>
            </div>
          </div>

          <div class="table-container">
            <table style="background-color: #BABEFE;">
              <thead>
                <tr>
                  <th style="width: 5em; border: solid 1px black;">STT</th>
                  <th style="width: 10em; border: solid 1px black;">Ngày báo cáo</th>
                  <th style="width: 15em; border: solid 1px black;">Khu vực</th>
                  <th style="width: 15em; border: solid 1px black;">Người xử lý</th>
                  <th style="width: 50em; border: solid 1px black;">Nội dung</th>
                  <th class="icon_detail"></th>
                </tr>
              </thead>
              <!-- Table data -->
              <tbody>
                <tr>
                  <td class="table-items">1</td>
                  <td class="table-items">26/07/2023 </td>
                  <td class="table-items">Quận Bình Tân</td>
                  <td class="table-items">Lưu Thế C </td>
                  <td class="table-items">Xử phạt vi phạm </td>
                  <td class="icon_detail">
                    <a href="#" onclick="openDetail()">   
                      <i class="fa-solid fa-info-circle"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="table-items">2</td>
                  <td class="table-items">16/08/2023  </td>
                  <td class="table-items">Quận 10 </td>
                  <td class="table-items">An Lê N </td>
                  <td class="table-items">Gỡ bỏ biển quảng cáo</td>
                  <td class="icon_detail">
                    <a href="#" onclick="openDetail()">
                      <i class="fa-solid fa-info-circle"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="table-items">3</td>
                  <td class="table-items">20/10/2023 </td>
                  <td class="table-items">Huyện Hóc Môn </td>
                  <td class="table-items">Đỗ Gia V </td>
                  <td class="table-items">Xử lý khiếu nại</td>
                  <td class="icon_detail">
                    <a href="#" onclick="openDetail()">
                      <i class="fa-solid fa-info-circle"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="table-items">4</td>
                  <td class="table-items">18/11/2023</td>
                  <td class="table-items">Quận Tận Phú </td>
                  <td class="table-items">Lê Minh F </td>
                  <td class="table-items">Gỡ bỏ biển quảng cáo</td>
                  <td class="icon_detail">
                    <a href="#" onclick="openDetail()">
                      <i class="fa-solid fa-info-circle"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </nav>
        
      </div>

      <!--Ad detail-->
      <div id="rns-detail_overlay" onclick="closeDetail()"></div>
      <div id="rns-detail_popup">
        <div class="details">
          <h3>
            CHI TIẾT BÁO CÁO
          </h3>
          <p>
            <span class="detail_label">
              Địa điểm: 
            </span>
            <span class="detail_text">
              Số 20 KDC Nam Hùng Vương, KP. 3, P. An Lạc, Quận Bình Tân
            </span>
          </p>
          <p>
            <span class="detail_label">
              Thời gian:
            </span>
            <span class="detail_text">
              26/07/2023
            </span>
          </p>
          <p>
            <span class="detail_label">
              Tọa độ:
            </span>
            <span class="detail_text">
              10.76, 106.688
            </span>
          </p>
          <p>
            <span class="detail_label">
              Đối tượng:
            </span>
            <span class="detail_text">
              Biển quảng cáo 5m x 5m nằm trên tường phía đông Tòa nhà
            </span>
          </p>
          <p>
            <span class="detail_label">
              Nội dung phản ánh:
            </span>
            <span class="detail_text">
              Biển quảng cáo phản chiếu ánh sáng mặt trời gây chói mắt, gây cản trở cho người tham gia giao thông.
            </span>
          </p>
          <p>
            <span class="detail_label">
              Xử lý:
            </span>
            <span class="detail_text">
              Tiến hành gỡ bỏ và thu hồi biển quảng cáo, thực hiện vào ngày 28/07/2023
            </span>
          </p>
          <p>
            <span class="detail_label">
              Người phụ trách:
            </span>
            <span class="detail_text">
              Lưu Thế C
            </span>
          </p>
          <img class="details_image" src="../images/image_ads.png" alt="">
        </div>
        <!-- Image report -->
      </div>
</main>

{{> sidebar-home-dp}}

<script>
    /* Mở popup detail qc */
    function openDetail() {
      document.getElementById('rns-detail_overlay').style.display = 'block';
      document.getElementById('rns-detail_popup').style.display = 'block';
    }

    function closeDetail() {
      document.getElementById('rns-detail_overlay').style.display = 'none';
      document.getElementById('rns-detail_popup').style.display = 'none';
    }
</script>