    {{> header-home}}
    <main class="sign-up">
      <div class="container-request">
          <div class="form-name">
              <label for="name" class="label label-sign-up label-1">Họ và tên:</label>
              <input type="text" class="form-control sign-up-form" id="name_textfield">
          </div>

          <div class="form-birthday">
              <label for="birthday" class="label label-sign-up">Ngày sinh:</label>
              <input type="date" class="form-control sign-up-form" id="birthday">
          </div>

          <div class="form-email">
              <label for="email" class="label label-sign-up">Email:</label>
              <input type="email" class="form-control sign-up-form" id="Email">
          </div>

          <div class="form-phone">
              <label for="phone" class="label label-sign-up">Số điện thoại:</label>
              <input type="tel" class="form-control sign-up-form" id="phone">
          </div>

          <div class="form-idnumber">
              <label for="idNumber" class="label label-sign-up">CMND/CCCD</label>
              <input type="text" class="form-control sign-up-form" id="idNumber" pattern="[0-9]{9}"
                  title="Số căn cước công dân cần phải có 9 chữ số.">
          </div>

          <div class="form-username">
              <label for="username" class="label label-sign-up">Tên đăng nhập:</label>
              <input type="text" class="form-control sign-up-form" id="username_textfield">
          </div>

          <div class="submit-container">
              <input type="submit" value="Submit">
          </div>
      </div>
    </main>